
  body{
    background-color: gold;
    text-align: center;
  }
  
  #container{
    margin:2.5% auto;
    width:960px;
    height: 95%; 
  }
  

  button{
    width:50%;
    height:20%;
    margin: 0 auto;
  }
  
 
  #start{
    margin-top: 30%;  
  }
  
  @media screen and (max-width:640px){
      .container{
          width: 500px;
          margin-top: 200px;
          size: 200%;
    }	
  }